.DS_Store
node_modules*
node_modules/*
*/node_modules/*
node_modules/@vuepress/core/.temp/internal/page-components.js
node_modules/@vuepress/core/.temp/internal/app-enhancers.js
node_modules/@vuepress/core/node_modules/.cache/vuepress/ef5c661d0fb8b2da6c506041dfbc4395.json
